.Title-section-bg {
    background-image: linear-gradient(120deg, #81f1ab 0%, #8aebee 100%);
    height: 300px;
    font-family: "NanumSquare";
}

.Title-ct {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.Title-title {
    font-weight: 800;
    color: white;
    font-size: 60pt;
    text-shadow: 2, 2, 2, whitesmoke;
}