.Title-section-bg {
    background-image: linear-gradient(120deg, #81f1ab 0%, #8aebee 100%);
    height: 320px;
}

.Title-ct {
    display: block;
    justify-content: center;
    height: 320px;
    align-items: center;
}

.Title-title {
    font-weight: 800;
    color: white;
    font-size: 9vw;
    font-family: "NanumSquare";
    padding-top: 80px;
}

.Title-subtitle {
    font-weight: 800;
    color: white;
    font-size: 5vw;
    font-family: "NanumSquare";
}

.Intro-section-bg {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.Header {
    font-weight: 1000;
    color: rgb(85, 85, 85);
    font-size: 32pt;
    font-family: "NanumSquare";
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.Botproject-card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.Botproject-card-title {
    font-family: "NanumSquare";
    font-weight: 1000;
    font-size: 18pt;
}

.Botproject-card-dsec {
    font-family: "NanumBarunGothic";
}

.Botproject-card-btn {
    font-family: "NanumSquare";
}

.Botproject-card-link {
    font-family: "NanumSquare";
}

.Intro-ct {
    display: block;
    height: 1000px;
    justify-content: center;
}

@media (min-width: 768px) and (min-width: 991px){
    .Title-section-bg {
        height: 400px;
    }
    .Title-ct {
        height: 420px;
    }
    .Title-subtitle {
        font-size: 4vw;
    }
    .Botproject-card {
        width: 420px;
    }
    .Botproject-card-btn {
        margin-bottom: 0.25rem;
    }
    .Botproject-card-link {
        display: flex;
        margin-left: 0 !important;
    }
}

@media (min-width: 992px) and (min-width: 1199px){
    .Title-section-bg {
        height: 360px;
    }
    .Title-ct {
        height: 360px;
    }
    .Title-subtitle {
        font-size: 1.2vw;
    }
    .Title-title {
        font-size: 4vw;
    }
}

@media (min-width: 1200px) {
    .Title-section-bg {
        height: 500px;
    }
    .Title-ct {
        height: 550px;
    }
    .Title-subtitle {
        font-size: 50pt;
    }
    .Title-title {
        font-size: 120pt;
    }
    .Botproject-card {
        width: 500px;
    }
    .Botproject-img {
        margin-left: 14px;
        margin-right: -14px;   
    }
    .Botproject-card-link {
        display: inline;
        margin-left: 0.75rem !important;
    }
}