@font-face {
    font-family: NanumSquare;
    src: url(./fonts/NanumSquareR.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumSquareBold;
    src: url(./fonts/NanumSquareB.ttf) format('truetype');
}

@font-face {
    font-family: NanumSquareExtraBold;
    src: url(./fonts/NanumSquareEB.ttf) format('truetype');
}

@font-face {
    font-family: NanumSquareLight;
    src: url(./fonts/NanumSquareL.ttf) format('truetype');
}