@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btn-infinite {
    color: #ffffff;
    background-color: rgb(87, 228, 157) !important;
    border-color: rgb(87, 228, 157) !important;
}

.btn-infinite:hover,
.btn-infinite.hover,
.btn-infinite:focus,
.btn-infinite.focus,
.btn-infinite:active,
.btn-infinite.active {
    color: #ffffff !important;
    background-color: rgb(64, 216, 140) !important;
    border-color: rgb(64, 216, 140) !important;
}

.btn-infinite:active {
    box-shadow: none !important;
}

.btn-infinite:active:focus {
    color: #ffffff !important;
    background-color: rgb(30, 197, 114) !important;
    border-color: rgb(30, 197, 114) !important;
}